%h2 Linkkejä

%br/
%h3 Kielenhuoltoa
%p.link= link_to "Kotimaisten kielten keskus", "http://www.kotus.fi"
%p.link= link_to "Svenska språkrådet", "http://www.sprakradet.se"

%br/
%h3 Kasvatusopillisia sivustoja
%p Oppimistavat:
%ul
  %li.link= link_to "Lärstilar", "http://www.learnify.se/Learnifyer/ObjectResources/6bc5dbb6-1900-4f04-8f25-764d8d6e9cdd/Studieteknik/larstil.htm"
  %li.link= link_to "Multipla intelligenser", "http://multiplaintelligenser.se/"
%p= link_to "Barbara Pashing", "http://www.creativelearningcentre.com/"

%br/
%h3 Keskusteluryhmiä
%p.link= link_to "Svenska listan", "http://groups.yahoo.com/group/svenskalistan/"
%p.link= link_to "Swedish group", "http://groups.yahoo.com/group/Swedish_Group/"
%p.link= link_to "Vi studerar svenska", "http://groups.yahoo.com/group/Vi-studerar-svenska/"

%br/
%h3 Sanastoja
%p.link= link_to "Lexin", "http://lexin2.nada.kth.se/lexin/"
%p.link= link_to "Bildlexikon", "http://lexin2.nada.kth.se/lexin/#main=1;themes=1;"
%p.link= link_to "Sanakirja ruotsi-suomi-ruotsi", "http://ilmainensanakirja.fi/sanakirja_ruotsi-suomi/"

%br/
%h3 Linkkikokoelmia
%p.link= link_to "En länksamling för sfi", "http://www.kreativpedagogik.se"
%p.link= link_to "Inkerin linkkikokoelma", "http://www.kolumbus.fi/inkeri.rissanen/"

%br/
%h3 Kollegani
%p.link= link_to "Alla Sinnen, Sverige", "http://www.allasinnen.se/index.php?section=0&page=1"
%p.link= link_to "Lonny Gold", "http://lonnygold.com/"
%p.link= link_to "Senja opettaa sinulle ruotsia", "http://fi-fi.facebook.com/Senjaopettaa"
%p.link= link_to "Galimatias", "http://www.galimatias.fi"

%br/
%h3 Työpaikkani
%p.link= "#{link_to "Västra Nylands folkhögskola", "http://www.vnf.fi"} (#{link_to "opi ruotsia", "http://www.vnf.fi/ruotsia-ruotsiksi/ "}/#{link_to "opi suomea", "http://www.vnf.fi/studier/ett-ar-pa-finska/"})"

%br/
%h3 Tärkeimmät harrastukseni
%p.link= link_to "Scrabbleförbundet", "http://www.scrabbleforbundet.se"
%p.link= link_to "Betapet", "http://www.betapet.se"