%h2= t("about.h")

%p= t("about.p1")
%p= t("about.p2")

.centered= image_tag "bild2.jpg", :width => 320, :height => 370

%p= t("about.p3")

.centered= image_tag("akademinlogo.bmp", :class => "no-border")

%p= t("about.p4")
%p= t("about.p5")