%h2= t("courses.h1")

%p
  %strong= "6 x 45 #{t("courses.minutes")}"
  %br/
  = t("courses.p1")

%p
  %strong= "20 x 45 #{t("courses.minutes")} (4 #{t("courses.days")})"
  %br/
  = t("courses.p2")

%p
  %strong= "90 x 45 #{t("courses.minutes")} (3 #{t("courses.weeks")})"
  %br/
  = t("courses.p3")

%h2= t("courses.h2")

%p
  %strong= t("courses.p4h")
  %br/
  = t("courses.p4")

%p
  %strong= t("courses.p5h")
  %br/
  = t("courses.p5")

%p
  %strong= t("courses.p6h")
  %br/
  = t("courses.p6")

%p
  %strong= t("courses.p7h")
  %br/ 
  = t("courses.p7")

%span#kursbilder
  = image_tag "bild3.jpg", :height => 340, :width => 450
  = image_tag "spel2.jpg", :height => 340, :width => 570

%br/
%hr/
%br/

%h2= t("courses.h3")

%p
  %strong= t("courses.p8h")
  %br/ 
  = t("courses.p8_1")
  %br/ 
  = t("courses.p8_2")
  %br/ 
  = t("courses.p8_3")
  %br/ 
  = t("courses.p8_4")

%p
  %strong= t("courses.p9h")
  %br/  
  = t("courses.p9")

%h2= t("courses.h4")

%p= t("courses.p10")

%p.link= link_to t("courses.more_information"), "http://www.allasinnen.se/index.php?section=0&page=9"

.centered= image_tag "isberget.jpg", :width => 600, :height => 450