%h2= t("links.h1")

%br/
%h3= t("links.h2")
%p.link= link_to t("links.l1"), "http://www.kotus.fi/pasvenska"
%p.link= link_to t("links.l2"), "http://www.sprakradet.se"

%br/
%h3= t("links.h3")
%p= t("links.l3")
%ul
  %li.link= link_to t("links.l4"), "http://www.learnify.se/Learnifyer/ObjectResources/6bc5dbb6-1900-4f04-8f25-764d8d6e9cdd/Studieteknik/larstil.htm"
  %li.link= link_to t("links.l5"), "http://multiplaintelligenser.se/"
%p.link= link_to t("links.l6"), "http://www.creativelearningcentre.com/"

%br/
%h3= t("links.h4")
%p.link= link_to t("links.l7"), "http://groups.yahoo.com/group/svenskalistan/"
%p.link= link_to t("links.l8"), "http://groups.yahoo.com/group/Swedish_Group/"
%p.link= link_to t("links.l9"), "http://groups.yahoo.com/group/Vi-studerar-svenska/"

%br/
%h3= t("links.h5")
%p.link= link_to t("links.l10"), "http://lexin2.nada.kth.se/lexin/"
%p.link= link_to t("links.l11"), "http://lexin2.nada.kth.se/lexin/#main=1;themes=1;"
%p.link= link_to t("links.l12"), "http://ilmainensanakirja.fi/sanakirja_ruotsi-suomi/"

%br/
%h3= t("links.h6")
%p.link= link_to t("links.l13"), "http://www.kreativpedagogik.se"
%p.link= link_to t("links.l14"), "http://www.kolumbus.fi/inkeri.rissanen/"

%br/
%h3= t("links.h7")
%p.link= link_to t("links.l15"), "http://www.allasinnen.se/index.php?section=0&page=1"
%p.link= link_to t("links.l16"), "http://lonnygold.com/"
%p.link= link_to t("links.l17"), "http://fi-fi.facebook.com/Senjaopettaa"
%p.link= link_to t("links.l18"), "http://www.galimatias.fi"

%br/
%h3= t("links.h8")
%p.link= "#{link_to t("links.l19"), "http://www.vnf.fi"} (#{link_to t("links.l19_1"), "http://www.vnf.fi/ruotsia-ruotsiksi/"}/#{link_to t("links.l19_2"), "http://www.vnf.fi/studier/ett-ar-pa-finska/"})"

%br/
%h3= t("links.h9")
%p.link= link_to "Scrabbleförbundet", "http://www.scrabbleforbundet.se"
%p.link= link_to "Betapet", "http://www.betapet.se"