%h2 Länkar

%p.link= link_to "Alla Sinnen, Sverige", "http://www.allasinnen.se/index.php?section=0&page=1"

%p.link= link_to "Lonny Gold", "http://lonnygold.com/"

%p.link= "#{link_to "Västra Nylands folkhögsskola", "http://www.vnf.fi"} (#{link_to "lär dig svenska", "http://www.vnf.fi/svenska"}/#{link_to "lär dig finska", "http://www.vnf.fi/finska"})"

%p.link= link_to "Senja opettaa sinulle ruotsia", "http://fi-fi.facebook.com/Senjaopettaa"