%h2 Länkar

%br/
%h3 Om språkvård
%p.link= link_to "Forskningscentralen för de inhemska språken", "http://www.kotus.fi/pasvenska"
%p.link= link_to "Svenska språkrådet", "http://www.sprakradet.se"

%br/
%h3 Pedagogiska sajter
%p Lärstilar:
%ul
  %li.link= link_to "Gugglan - Lärstilar", "http://www.gugglan.se/larstilar.htm"
  %li.link= link_to "Multipla intelligenser", "http://multiplaintelligenser.se/"
%p= link_to "Barbara Pashing", "http://www.creativelearningcentre.com/"

%br/
%h3 Diskussionsgrupper
%p.link= link_to "Svenska listan", "http://groups.yahoo.com/group/svenskalistan/"
%p.link= link_to "Swedish group", "http://groups.yahoo.com/group/Swedish_Group/"
%p.link= link_to "Vi studerar svenska", "http://groups.yahoo.com/group/Vi-studerar-svenska/"

%br/
%h3 Ordlistor
%p.link= link_to "Lexin (sv-fi-sv)", "http://lexin2.nada.kth.se/lexin/"
%p.link= link_to "Bildlexikon", "http://lexin2.nada.kth.se/lexin/#main=1;themes=1;"
%p.link= link_to "svensk-finsk-svensk ordbok på nätet", "http://ilmainensanakirja.fi/sanakirja_ruotsi-suomi/"

%br/
%h3 Länksamlingar
%p.link= link_to "En länksamling för sfi", "http://www.kreativpedagogoik.se"
%p.link= link_to "Inkeris länksamling", "http://www.kolumbus.fi/inkeri.rissanen/"

%br/
%h3 Mina kolleger
%p.link= link_to "Alla Sinnen, Sverige", "http://www.allasinnen.se/index.php?section=0&page=1"
%p.link= link_to "Lonny Gold", "http://lonnygold.com/"
%p.link= link_to "Senja opettaa sinulle ruotsia", "http://fi-fi.facebook.com/Senjaopettaa"
%p.link= link_to "Galimatias", "http://www.galimatias.fi"

%br/
%h3 Min arbetsplats
%p.link= "#{link_to "Västra Nylands folkhögskola", "http://www.vnf.fi"} (#{link_to "lär dig svenska", "http://www.vnf.fi/svenska"}/#{link_to "lär dig finska", "http://www.vnf.fi/finska"})"

%br/
%h3 Min främsta hobby
%p.link= link_to "http://www.scrabbleforbundet.se", "http://www.scrabbleforbundet.se"
%p.link= link_to "http://www.betapet.se", "http://www.betapet.se"