= "Detta är ett automatiserat meddelande från Lärorikets kontaktformulär"
= ""
= "Från #{name}<#{email}>"
= ""
= body
= ""
= "--------------------------------------------"
= ""
= "Svara inte direkt på detta meddelande utan skicka istället ett mail till #{email}."