!!!
%html
  %head
    %title Läroriket
    = stylesheet_link_tag 'application'
    = yield_content :include
  %body
    #container
      #header
        %nav#top-nav
          %ul
            %li= link_to t("header.start"),   url_for(:index, :l => get_locale)
            %li= link_to t("header.courses"), url_for(:courses, :l => get_locale)
            %li= link_to t("header.about"),   url_for(:about, :l => get_locale)
            %li= link_to t("header.links"),   url_for(:links, :l => get_locale)
            %li= link_to t("header.lang"),    url_for(:suomeksi)
        #title
          %h1#main-title= link_to "Läroriket", url_for(:index)
          %h4#sub-title= pick_random_slogan
    
      #border
      #main= yield
      
      #border
      #footer
        .left
          %p
            Gerd Forss
            %br/
            = t("footer.f1")
            %br/
            = t("footer.f2")
            %br/
        .right        
          %p
            gerd.forss@gmail.com
            %br/
            +358 40 529 2876
